@tailwind base;

@tailwind components;

@tailwind utilities;

.h-450px {
    height: 450px;
}
.h-350px {
    height: 350px;
}
.h-300px {
    height: 300px;
}
.leftpanel {
    margin-top: 5%;
}
.carousel-cell {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.flickity-viewport {
    height: 100% !important;
}
.flickity-page-dots {
    display: none;
}
.flickity-button {
    display: none;
}
.thumbnail {
    @apply shadow-2xl cursor-pointer opacity-25 transition ease-out duration-300 rounded-full flex justify-between items-center h-10
}
.is-nav-selected, .thumbnail:hover{
    opacity: 1;
}
.gradient {
    background-image: linear-gradient(to left, rgb(71, 230, 230), rgb(74, 154, 230));
}
.carousel-cell {
    @apply rounded-lg h-full bg-gray-500;
}
.pInfo {
    @apply font-light;
}
.cont-details {
    @apply flex justify-between items-center py-3 pr-8;
}
.education span {
    @apply font-bold;
}
.education p, .skills p {
    @apply font-light text-sm;
}
.workexp .desc {
    @apply font-light text-xs;
}

@media (min-width: 425px) {
    .thumbnails > :first-child h2, :nth-child(4) h2 {
        @apply text-tiny;
    }
    .workexp h2 {
        @apply text-2xl pt-6;
    }
    .greeting p {
        @apply text-lg;
    }
}

@media (min-width: 480px) {
    .greeting h2 {
        @apply text-xl;
    }
}

@media (min-width: 500px) {
    .greeting h2 {
        @apply text-3xl;
    }
    .thumbnails > :nth-child(2) h2,:nth-child(3) h2, :nth-child(5) h2 {
        @apply text-xl;
    }
    .thumbnails > :first-child h2, :nth-child(4) h2 {
        @apply text-lg;
    }
    .main-carousel {
        @apply h-300px;
    }
    .top img {
        @apply w-32;
    }
    .pInfo h2 {
        @apply pt-0 mb-0;
    }
    .contacts, .education {
        @apply p-0;
    }
    .cont-details {
        @apply pt-0 pl-20;
    }
    .cont-wrap {
        @apply mt-3;
    }
    .education h2 {
        @apply mb-2;
    }
    .workexp {
        @apply px-2;
    }
    .workexp > :nth-child(even) {
        @apply mt-2;
    }
    .workexp h2 {
        @apply pt-0;
    }
    .skills {
        @apply py-0;
    }
    .skills h2 {
        @apply mb-0;
    }
}

@media (min-width: 580px) {
    .skills p{
        @apply text-base;
    }
    .workexp .desc {
        @apply text-sm;
    }
}

@media (min-width: 640px) {
    .greeting {
        @apply box-border py-4;
    }
    .greeting h2 {
        @apply text-3xl;
    }
    .greeting p {
        @apply text-2xl;
    }
    .thumbnails > * {
        @apply w-full pl-0 ml-0 mt-4;
    }
    .main-carousel {
        @apply w-2/3 h-350px;
    }
    .cont-details {
        @apply pl-8;
    }
    .education h2 {
        @apply mb-8 text-2xl;
    }
    .workexp > :nth-child(even) {
        @apply m-0;
    }
    .skills {
        @apply px-0 pl-4;
    }
}

@media (min-width: 768px) {
    .main-carousel {
        @apply w-3/4;
    }
    .cont-wrap {
        @apply mb-4;
    }
    .cont-details {
        @apply pl-12;
    }
    .carousel-cell h2 {
        @apply mt-5 mb-2;
    }
    .pInfo p {
        @apply text-lg px-2;
    }
    .pInfo h2 {
        @apply text-2xl pb-0;
    }
    .education span {
        @apply text-lg;
    }
    .education p {
        @apply text-lg;
    }
    .workexp h2 {
        @apply mt-0 text-2xl;
    }
    .workexp > :nth-child(even) {
        @apply text-base mt-2;
    }
    .workexp > :nth-child(3) {
        @apply text-base;
    }
    .workexp > :nth-child(5) {
        @apply text-base;
    }
    .workexp > :nth-child(7) {
        @apply text-base;
    }
    .skills p{
        @apply text-lg;
    }
}

@media (min-width: 1024px) {
    .workexp h2, .skills h2{
        @apply text-2xl;
    }
    .cont-wrap {
        @apply px-12;
    }
    .pInfo p {
        @apply px-10;
    }
    .workexp h2{
        @apply mt-3;
    }
}
@media (min-width: 1250px) { 
    .thumbnails {
        @apply px-8 box-border;
    }
    .skills > * {
        @apply pl-8;
    }
}